.modal-overlay {
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  display: block;
  background: white;
  width: 70%;
  height: 70%;
  padding: 1rem;
  border-radius: 1rem;
  position: relative;
}

.modal-close-icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: lightgray;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1rem;
  font-size: 1.25rem;
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
}
