.OverviewSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  text-align: center;
  @media all and (max-width: 480px) and (min-width: 320px) {
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
  }
}
